In [ ]:
# CSV ETL Solution

In [1]:
import pandas as pd
import os
import boto3
from botocore.exceptions import NoCredentialsError

def create_combined_csv():
    # This function combines CSV files and reformats the data to a normalized format

    # Initialize an empty DataFrame to store the combined data
    combined_df = pd.DataFrame()

    # Connect to the S3 client
    s3 = boto3.client('s3')

    try:
        # List objects in the S3 bucket
        response = s3.list_objects(Bucket='data-eng-223-final-project', Prefix='Academy/')
        files = response['Contents']

        # Iterate over the files in the bucket
        for file in files:
            file_name = file['Key']
            if file_name.endswith('.csv'):
                # Download the file from S3
                s3.download_file('data-eng-223-final-project', file_name, '/tmp/temp.csv')

                # Parse cohort and date from the file name
                split_name = file_name.split('_')
                cohort = split_name[0] + '_' + split_name[1]
                date = split_name[2].split('.')[0]

                # Read the CSV file
                df = pd.read_csv('/tmp/temp.csv')

                # Check for length of course
                if 'Analytic_W10' in df.columns:
                    weeks = 11
                elif 'Analytic_W9' in df.columns:
                    weeks = 10
                else:
                    weeks = 9

                for week in range(1, weeks):
                    # Select the relevant columns for the current week
                    week_df = df[['name', 'trainer',
                                  f'Analytic_W{week}', f'Independent_W{week}',
                                  f'Determined_W{week}', f'Professional_W{week}',
                                  f'Studious_W{week}', f'Imaginative_W{week}']].copy()

                    # Rename the columns
                    week_df.columns = ['name', 'trainer',
                                       'Analytic', 'Independent',
                                       'Determined', 'Professional',
                                       'Studious', 'Imaginative']

                    # Add a 'week' column
                    week_df['week'] = week

                    # Add a 'cohort' column
                    week_df['cohort'] = cohort

                    # Add a 'date' column
                    week_df['date'] = date

                    # Append the current week DataFrame to the combined DataFrame
                    combined_df = pd.concat([combined_df, week_df], ignore_index=True)

                # Remove the downloaded file
                #os.remove(file_name)

    except NoCredentialsError:
        print("Credentials not found")

    # Remove rows with any missing values
    combined_df.dropna(inplace=True)

    return combined_df

In [2]:
df = create_combined_csv()

In [3]:
df.head()

,name,trainer,Analytic,Independent,Determined,Professional,Studious,Imaginative,week,cohort,date
0,Quintus Penella,Gregor Gomez,1.0,2.0,2.0,1.0,2.0,2.0,1,Academy/Business_20,2019-02-11
1,Simon Murrey,Gregor Gomez,6.0,1.0,1.0,2.0,4.0,2.0,1,Academy/Business_20,2019-02-11
2,Gustaf Lude,Gregor Gomez,6.0,4.0,1.0,1.0,2.0,3.0,1,Academy/Business_20,2019-02-11
3,Yolanda Fosse,Gregor Gomez,2.0,1.0,2.0,3.0,3.0,3.0,1,Academy/Business_20,2019-02-11
4,Lynnett Swin,Gregor Gomez,2.0,2.0,4.0,5.0,1.0,2.0,1,Academy/Business_20,2019-02-11

In [4]:
df.shape

(3257, 11)

In [7]:
df.isna().sum()

name            0
trainer         0
Analytic        0
Independent     0
Determined      0
Professional    0
Studious        0
Imaginative     0
week            0
cohort          0
date            0
dtype: int64

In [8]:
import sqlalchemy as db
from sqlalchemy import create_engine,text
import pyodbc

In [9]:
# Set up the connection string
connection_string = 'mssql+pyodbc://sa:yourStrong(!)Password@localhost:1433/Final_Project?driver=ODBC+Driver+17+for+SQL+Server'

# Create a SQLAlchemy engine object
engine = create_engine(connection_string)

# Create a connection object
conn = engine.connect()

In [10]:
# Docker connect to database
server = 'localhost,1433'
database = 'Final_Project'
username = 'sa'
password = 'yourStrong(!)Password'
docker_Final_Project = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = docker_Final_Project.cursor()
cursor.execute("SELECT @@version;")
row = cursor.fetchone()
print(row)

('Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (X64) \n\tJan 25 2023 11:33:34 \n\tCopyright (C) 2019 Microsoft Corporation\n\tLinux (Ubuntu 18.04.6 LTS) <X64>',)

In [11]:
# Insert dataframe into data table
df.to_sql('CSV_data', con = engine)

125

In [12]:
# Example SQL query
pd.read_sql_query('SELECT * FROM all_data', con = conn).head()

,index,name,trainer,Analytic,Independent,Determined,Professional,Studious,Imaginative,week,cohort,date
0,0,Quintus Penella,Gregor Gomez,1.0,2.0,2.0,1.0,2.0,2.0,1,Academy/Business_20,2019-02-11
1,1,Simon Murrey,Gregor Gomez,6.0,1.0,1.0,2.0,4.0,2.0,1,Academy/Business_20,2019-02-11
2,2,Gustaf Lude,Gregor Gomez,6.0,4.0,1.0,1.0,2.0,3.0,1,Academy/Business_20,2019-02-11
3,3,Yolanda Fosse,Gregor Gomez,2.0,1.0,2.0,3.0,3.0,3.0,1,Academy/Business_20,2019-02-11
4,4,Lynnett Swin,Gregor Gomez,2.0,2.0,4.0,5.0,1.0,2.0,1,Academy/Business_20,2019-02-11

In [13]:
# Example SQL query
pd.read_sql_query('SELECT COUNT(*) FROM all_data', con = conn)

0  3257